{% extends('@smartpage/smartpage.twig') %}

{% block head %}
    {{ parent() }}
    <link rel="icon" href="/~web/logo.svg">
{% endblock %}

{% block content %}
    <div id="app" url=""></div>
{% endblock %}
